body {
  font-size: 24px;
  padding: 40px;
}
.ss-main {
  width: 40% !important;
}
.loader {
  font-weight: 700;
}
.cat-info {
  margin-top: 50px;
}

.catImg {
  width: 600px;
  object-fit: scale-down;
  margin-right: 50px;
}

.description {
  margin-right: 20px;
}
.error {
  color: red;
  font-weight: 700;
}
