body {
  font-size: 24px;
  padding: 40px;
}
.breed-select {
  margin-bottom: 20px;
  width: 100px;
  scroll-behavior: smooth;
}

.cat-info {
  margin-top: 50px;
}

.catImg {
  width: 600px;
  margin-right: 50px;
}

.description {
  margin-right: 20px;
}
